/* General Custom Styles */

blockquote {
    font-size: 95%;
    border-left: none;
    margin-top: 0;
    margin-bottom: 0.5rem;
    padding-top: 0;
}

h2 {
    font-weight: 500;
    font-size: 1.25em
}

h3 {
    font-weight: 400;
    font-size: 1.10em;
}

h4 {
    font-weight: 400;
    font-size: 1em;
}

ul {
    list-style-type: square;
}

/* NEW - Comment container */

.card-body p {
    font-family: 'Jost';
    font-weight: 300;
    font-size: 0.9em;
    line-height: 1.5em;
}

.spoiler h4 {
    display: inline;
}

/* OLD -- Case comment container */

.comment, .comment li, .comment p {
    border: 1px;
}

.comment {
    font-family: 'Jost';
    font-weight: 300;
    font-size: 0.9em;
    line-height: 1.5em;
    border-style: solid;
    padding: 8px;
    padding-left: 10px;
    margin-bottom: 10px;
    background: none;
    color: #0044cc;
}

.comment p {
    margin-top: 10px;   
}

.comment h4 {
    display: inline;
    color: #0044cc;
    font-weight: 300;
}

details > summary {
    cursor: pointer;
}

/* Tooltip container */

.tooltip {
  position:relative; /* making the .tooltip span a container for the tooltip text */
  border-bottom:1px dashed #000; /* little indicater to indicate it's hoverable */
  display:inline;
  opacity: 100;
}

.tooltip:before {
  content: attr(data-text); /* here's the magic */
  position:absolute;
  
  /* vertically center */
  top:50%;
  transform:translateY(-50%);
  
  /* move to right */
  left:100%;
  margin-left:15px; /* and add a small left margin */
  
  /* basic styles */
  width:200px;
  padding:10px;
  border-radius:10px;
  background:#000;
  color: #fff;
  text-align:left;
  font-size: 75%;
    
  display:none; /* hide by default */
}

.tooltip:hover:before {
  display:block;
}

/*Custom tweaks for quiz shotcode to make it work with academic -- see /layouts/shortcodes/quiz.html*/

fieldset {
    border: solid;
} 

legend {
    width:auto;
}

/* Additional styling for quizes */

.quiz label {
    margin-left: 20px;  
}

h2#quiz-header {
    font-size: 1.3em;
}

/* For colour-coding sections of text */

#red, #red blockquote, #red .comment, #red .comment h4 {color:#800000;}

#red .btn-primary {background-color:#800000;}

#orange, #orange blockquote, #orange .comment, #orange .comment h4 {color:#e67300;}

#orange .btn-primary {background-color:#e67300;}

#green, #green blockquote, #green .comment, #green .comment h4 {color:#006600;}

#green .btn-primary {background-color:#006600;}

#purple, #purple blockquote, #purple .comment, #purple .comment h4 {color:#660066;}

#purple .btn-primary {background-color:#660066;}

#lightpurple, #lightpurple blockquote, #lightpurple .comment, #lightpurple .comment h4 {color:#990099;}

#lightpurple .btn-primary {background-color:#990099;}



